/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


h3{
  margin-top: 1%;
  margin-bottom: 2%;
}

.margin-fix-top-lg{
  margin-top: 100px;
}

.margin-fix-top-md{
  margin-top: 150px;
}

.margin-fix-top-sm{
  margin-top: 200px;
}

.margin-fix-top-xs{
  margin-top: 100px;
}

.margin-fix-bottom-lg{
  margin-bottom: 80px;
}

.margin-fix-bottom-md{
  margin-bottom: 80px;
}

.margin-fix-bottom-sm{
  margin-bottom: 100px;
}

.margin-fix-bottom-xs{
  margin-bottom: 150px;
}

.modal-content{
  margin: 5% 0%;
  padding: 0% 1%;
}

.aboutus{
  margin-top: 1%;
  margin-bottom: 1%;
}

input, select, img, button{
  border-radius: 4px;
  padding: 0px;
}

.icon{
  width: 30px;
  height: 20px;
}

.calIcon{
  width: 40px;
  height: 40px;
}

.social img{
  width: 30px;
  height: 30px;
}

/*input.input-fixer, select.input-fixer{
  //padding: 0px;
}*/

.navbar-fixed-bottom .col-md-4{
  margin-top: 1%;
  margin-bottom: 1%;
}

.navbar-fixed-bottom p{
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0px;
}

.adds{
  margin: 10%;
}

.stub{
  visibility: hidden;
}

.glyp-nav{
  font-size: 20px;
}

.glyp-faq{
  font-size: 7px;
}

.modal-header{
  font-family: "Nunito", sans-serif;
}

.modal-header{
  font-family: "Comic Sans MS", "Courier New", Courier, sans-serif;
}