<div class="modal fade" id="calculator" role="dialog">
  <div class="modal-dailog">
    <div class="container">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-info"><img src="assets/images/calculator.jpg" class="calIcon"><b> WeBet2Win Calculator</b></h1>
        </div>
        <div class="modal-body">
          <form action="#" class="row">
            <div class="row">
              <div class="col-md-3 "> 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Bookmaker</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row ">
                      <label class="col-xs-7 text-info">Bet value (€):</label>
                      <input class="col-xs-4 text-right input-fixer" id="betValue" size="5">
                    </div>
                    <div class="row ">
                      <label class="col-xs-7 text-info">Odd:</label>
                      <input class="col-xs-4 text-right input-fixer" id="houseOdd" size="5">
                    </div>
                    <div class="row stub">
                      <label class="col-xs-7 text-info">.</label>
                    </div>
                    <div class="row ">
                      <label class="col-xs-7 text-info">Freebet:</label>
                      <input class="col-xs-4 text-right input-fixer" type="checkbox" id="freebet">
                    </div>                        
                  </div>
                </div>
              </div>
              <div class="col-md-4"> 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Betfair</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row ">
                      <label class="col-xs-8 text-info">Odd:</label>
                      <input class="col-xs-3 text-right input-fixer" id="betfairOdd">
                    </div>
                    <div class="row ">
                      <label class="col-xs-8 text-info">Commission (%):</label>
                      <input class="col-xs-3 text-right input-fixer" list="comissions" value="5.5" id="comission" type="text">
                      <datalist id="comissions">
                        <option value="0">
                        <option value="0.5">
                        <option value="1">
                        <option value="1.5">
                        <option value="2">
                        <option value="2.5">
                        <option value="3">
                        <option value="3.5">
                        <option value="4">
                        <option value="4.5">
                        <option value="5">
                        <option value="5.5">
                        <option value="6">
                        <option value="6.5">
                        <option value="7">
                        <option value="7.5">
                        <option value="8">
                        <option value="8.5">
                        <option value="9">
                        <option value="9.5">
                        <option value="10">
                      </datalist>
                    </div>
                    <div class="row ">
                      <label class="col-xs-8 text-info">Value to bet (€):</label>
                      <input class="col-xs-3 text-right input-fixer" id="val2Bet" size="4" disabled>
                    </div>
                    <div class="row ">
                      <label class="col-xs-8 text-info">Balance needed (€):</label>
                      <input class="col-xs-3 text-right input-fixer" id="balNeeded" size="4" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"> 
              </div>
              <div class="col-md-4"> 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Odds Converter</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row ">
                      <label class="col-xs-4 text-info">Fractional:</label>
                    </div>
                    <div class="row">
                      <input class="col-xs-3 col-xs-offset-1 text-right input-fixer" id="quocient">
                      <label class="col-xs-1 text-info">/</label>
                      <input class="col-xs-3 text-right input-fixer" id="dividend">
                      <label class="col-xs-1 text-info">=</label>
                      <input class="col-xs-2 text-right input-fixer" id="fractRsul" disabled>
                    </div>
                    <div class="row ">
                      <label class="col-xs-4 text-info">American:</label>
                    </div>
                    <div class="row ">
                      <input class="col-xs-3 col-xs-offset-1 text-right input-fixer" list="signals" value="+" id="signal">
                      <datalist id="signals">
                        <option value="+">
                        <option value="-">
                      </datalist>
                      <label class="col-xs-1 text-info"></label>
                      <input class="col-xs-3 text-right input-fixer" id="aDividend">
                      <label class="col-xs-1 text-info">=</label>
                      <input class="col-xs-2 text-right input-fixer" id="amRsul" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7"> 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Total Earnings (Bonus + OR - This value)</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row ">
                      <label class="col-xs-8 text-info">If you win at Betfair (€):</label>
                      <input class="col-xs-3  text-right input-fixer" id="winbetfair" size="4" disabled>
                    </div>
                    <div class="row ">
                      <label class="col-xs-8 text-info">If you win at Betting House (€):</label>
                      <input class="col-xs-3  text-right input-fixer" id="winbethouse" size="4" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"> 
              </div>
              <div class="col-md-4"> 
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Currency Converter</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <input class="col-xs-4 col-xs-offset-1 text-right input-fixer" type='text' id='gp_amount' size='4'>
                      <label class="col-xs-1 text-info"></label>
                      <select class="col-xs-5 text-right input-fixer" id="gp_from">
                        
                      </select>
                    </div>
                    <div class="row">
                      <label class="col-xs-1 text-info col-xs-offset-2">to</label>
                      <select class="col-xs-5 col-xs-offset-3 text-right input-fixer" id="gp_to">
                        
                      </select>
                    </div>
                    <div class="row">
                      <button class="col-xs-4 text-info col-xs-offset-1" id='gp_convertIt'>Convert It</button>
                      <label class="col-xs-1 text-info"></label>
                      <input class="col-xs-5 text-right input-fixer" id="gp_converted" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
          <div class="modal-footer">
            <div class="row">
            <p class="col-md-8 text-left">How to use our WeBet2Win Calculator? Learn with our <a href="">Quick Use Tutorial</a>.</p>
            <div class="col-md-3"></div>
            <button class="col-md-1 btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>