<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>Powered by Filomeno Santos - <a href="https://www.facebook.com/filomeno.santos" target="_Blank">Facebook</a> | <a href="https://www.linkedin.com/profile/view?id=72703864&trk=nav_responsive_tab_profile" target="_Blank">LinkedIn</a></p>
      </div>
      <div class="col-md-4 text-center">
        <div class="btn-group">
          <a href="" class="btn btn-xs social" target="_blank"><img src="assets/images/fbicon.jpg"></a></li>
          <a href="" class="btn btn-xs social" target="_blank"><img src="assets/images/tticon.jpg"></a></li>
          <a href="" class="btn btn-xs social" target="_blank"><img src="assets/images/yticon.jpg"></a></li>
        </div>
      </div>
      <div class="col-md-4">
        <a href="#/copyrights" class="btn-default btn navbar-right">Copyright © 2010-14 WeBet2Win.com</a>
      </div>
    </div>
  </div>
</div>