<div class="container main" ng-controller="CopyrightsController as copyrightsCtrl">
	<div class="row" ng-repeat="text in copyrightsCtrl.pagecontent.texts">
		<div class="col-md-12 aboutus" ng-repeat="policy in text.policies">
			<h4 class="text-center"><b>{{policy.title}}</b></h4>
			<div ng-repeat="paragraf in policy.content">
				<p class="text-justify">{{paragraf.paragraf}}</p>
				<ul>
					<li ng-repeat="link in paragraf.links"><a class="text-justify" ng-href="{{link.adress}}">{{link.text}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>