<div class="container main" ng-controller="DepositController as depositCtrl">
	<div class="row">
		<div class="col-md-8" ng-repeat="text in depositCtrl.pagecontent.text">
			<h5 class="text-center"><a href="">{{text.title}}</a></h5>
			<p class="text-center">{{text.firstparagraf}}</p>
			<p class="text-center" ng-repeat="method in text.methods">
				<b>{{method.prefix}}</b>
					<a ng-repeat="link in method.links" ng-href="{{link.href}}" target="_Blank">
						<img ng-src="{{link.img}}" width="70" height="40">
					</a>
				<b>{{method.sufix}}</b>
			</p>
			<p class="text-justify" ng-repeat="paragraf in text.content">{{paragraf.paragraf}}</p>
			<hr>
			<div class="row">
				<abbr title="START EARNING NOW!">
					<a class="glyphicon glyphicon-arrow-left col-xs-12 text-left" href="#/start"></a>
				</abbr>
			</div>					
		</div>
		<div class="col-md-4 ">
			<div class="adds" ng-repeat="banner in depositCtrl.pagecontent.sidebanners">{{banner.code}}</div>
		</div>
	</div>
</div>