<div class="container main" ng-controller="FaqsController as faqsCtrl">
	<div ng-repeat="text in faqsCtrl.pagecontent.text">
		<h2 href=""><a>{{text.title}}</a></h2><br>
		<ul style="list-style-type: none">
			<li ng-repeat="question in text.questions">
				<div ng-click="showAnswer = !showAnswer">
					<small class="glyphicon glyphicon-plus glyp-faq" ng-show="!showAnswer"></small>
					<small class="glyphicon glyphicon-minus glyp-faq" ng-show="showAnswer"></small>
					<strong>
						<a href="">{{question.question}}</a></strong>
					<p ng-show="showAnswer">{{question.answer}}</p>
					<hr>
				</div>
			</li>
		</ul>
	</div>
</div>