<div class="container main" ng-controller="FaqsController as faqsCtrl">
	<div ng-repeat="text in faqsCtrl.pagecontent.text">
		<h2 ><a name="top">{{text.title}}</a></h2>
		<ol>
			<li ng-repeat="question in text.questions"><strong><a href="">{{question.question}}</a></strong></li>
		</ol>
		<hr>
		<ol>
			<li ng-repeat="question in text.questions">
				<h3><a name="how">{{question.question}}</a></h3>
				<p>{{question.answer}}</p>
				<h5><a href="#top">Back to Top</a></h5>
				<hr>
			</li>
		</ol>
	</div>
</div>