<div ng-controller="MainController as mainCtrl">
	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ui-sref="lang.home" class="navbar-brand"> WeBet2Win</a>
      </div>
      <b2w-page-nav></b2w-page-nav>
    </div>
  </div>

  <div class="margin-fix-top-lg hidden-xs hidden-sm hidden-md"></div>
  <div class="margin-fix-top-md hidden-xs hidden-sm hidden-lg"></div>
  <div class="margin-fix-top-sm hidden-xs hidden-lg hidden-md"></div>
  <div class="margin-fix-top-xs hidden-sm hidden-md hidden-lg"></div>

  <div class="container">
    <div class="text-center hidden-sm hidden-xs">
      <div ng-bind-html="mainCtrl.banner.big"></div>
    </div>
    <div class="text-center hidden-md hidden-lg">
      <div ng-bind-html="mainCtrl.banner.small"></div>
    </div>
  </div>

  <div class="container text-center" ng-repeat="text in mainCtrl.pagecontent" ng-show="mainCtrl.showLang(text.lang)">
    <h1>{{text.maintitle}}</h1>
  </div>

  <div ui-view></div>

  <div class="margin-fix-bottom-lg hidden-xs hidden-sm hidden-md"></div>
  <div class="margin-fix-bottom-md hidden-xs hidden-sm hidden-lg"></div>
  <div class="margin-fix-bottom-sm hidden-xs hidden-lg hidden-md"></div>
  <div class="margin-fix-bottom-xs hidden-sm hidden-md hidden-lg"></div>

  <b2w-page-footer></b2w-page-footer>

  
  <b2w-calculator></b2w-calculator>
</div>