<div class="container main">
	<div class="row">
		<div class="col-md-8">
			<p class="text-center" ng-controller="StartController as startCtrl">
				 <a class="col-md-2 btn btn-info btn" ng-repeat="level in startCtrl.levels" 
				 href="{{startCtrl.levelurl(level)}}">{{level}}</a>
			</p>
			<br><br>
			<div ui-view></div>
			<p class="text-center" ng-controller="StartController as startCtrl">
				 <a class="col-md-2 btn btn-info btn" ng-repeat="level in startCtrl.levels" 
				 href="{{startCtrl.levelurl(level)}}">{{level}}</a>
			</p>
			<br><br><hr>						
			<div class="row">
				<div ng-controller="SystemController as systemCtrl">
					<div ng-repeat="text in systemCtrl.pagecontent" ng-show="mainCtrl.showLang(text.lang)">
						<abbr title="{{text.title}}">
							<a class="glyphicon glyphicon-arrow-left glyp-nav col-xs-6 text-left" ui-sref="lang.system"></a>
						</abbr>
					</div>
				</div>
				<div ng-controller="DepositController as depositCtrl">
					<div ng-repeat="text in depositCtrl.pagecontent" ng-show="mainCtrl.showLang(text.lang)">
						<abbr title="{{text.title}}">
							<a class="glyphicon glyphicon-arrow-right glyp-nav col-xs-6 text-right" ui-sref="lang.deposit"></a>
						</abbr>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" ng-controller="StartController as startCtrl">
			<div class="adds" ng-repeat="sidebanner in startCtrl.sidebanners">
				<div ng-bind-html="sidebanner"></div>
			</div>
		</div>
	</div>
</div>